In [1]:
import numpy as np
import pandas as pd

In [8]:
# price_df = pd.read_excel('bitcoin-price.xlsx')

# price_df.to_csv('bitcoin-price.csv', index=False)

/Users/deryliankhalfani/anaconda3/envs/base312/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [12]:
def load_price_data(filepath='bitcoin-price.csv'):
    """
    Load BTC historical OHLCV data, convert timestamp to date.
    Uses 'timeClose' as the daily reference timestamp.
    """
    df = pd.read_csv(filepath)

    # Convert Unix timestamp (ms) to datetime
    df['date'] = pd.to_datetime(df['timeClose'], unit='ms')
    df.set_index('date', inplace=True)

    # Optional: drop raw timestamp columns to simplify
    df = df[['priceOpen', 'priceHigh', 'priceLow', 'priceClose', 'volume']]

    return df

In [23]:
df = load_price_data('bitcoin-price.csv')

df.index = df.index.normalize()

In [24]:
df.head()

,priceOpen,priceHigh,priceLow,priceClose,volume
date,,,,,
2025-06-15,106108.085236,106203.756020,104379.365232,105472.408653,3.800787e+10
2025-06-14,105924.590561,106182.545978,102822.025804,106090.966395,6.955044e+10
2025-06-13,108685.910430,108780.697442,105785.688736,105929.051263,5.484387e+10
2025-06-12,110261.796257,110384.220962,108086.327919,108686.627682,5.084266e+10
2025-06-11,110295.687653,110380.121446,108367.713433,110257.237712,5.470010e+10

In [25]:
df.to_csv("clean_btc_data.csv")